* Autor: Johnny Rubio Pecasso 
* Fecha: 03/sep/2024 
* Introduccion a la ciencia de datos 
* Noteboook ICD - 3_2

Creacion de dataframes

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame(
{"a" : [4, 5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])

print(df1)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])

print(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df2 = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = pd.MultiIndex.from_tuples(
[('d', 1), ('d', 2),
('e', 2)], names=['n', 'v']))

print(df2)

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

Metodo de encadenamiento

In [5]:
df = (pd.melt(df).rename(columns={'variable':'var','value':'val'}).query('val >= 200'))
print(df)

Empty DataFrame
Columns: [var, val]
Index: []

Reshaping data

In [ ]:
pd.melt(df)
df.pivot(columns='var', values='val')
pd.concat([df1,df2])
pd.concat([df1,df2], axis=1)
df.sort_values('mpg')
df.sort_values('mpg', ascending=False)
df.rename(columns = {'y':'year'})
df.sort_index()
df.reset_index()
df.drop(columns=['Length', 'Height'])

Subset

In [ ]:
# Observations (rows)
df[df.Length > 7]
df.drop_duplicates()
df.sample(frac=0.5)
df.sample(n=10)
df.nlargest(n, 'value’)
df.nsmallest(n, 'value')
df.head(n)
df.tail(n)

# Variables (columns)
df[['width’, 'length’, 'species']]
df['width'] or df.width
df.filter(regex='regex')

# using query
df.query('Length > 7')
df.query('Length > 7 and Width < 8')
df.query('Name.str.startswith("abc")', engine="python")

# subsets - rows and columns
df.iloc[10:20]
df.iloc[:, [1, 2, 5]]
df.loc[:, 'x2':'x4']
df.loc[df['a'] > 10, ['a’, 'c']]
df.iat[1, 2]
df.at[4, 'A']

analisis de los datos

In [14]:
# df['w'].value_counts()
len(df) 
df.shape 
# df['w'].nunique() 
df.describe()

# Funciones
df.sum()
df.count()
df.median()
df.quantile([0.25,0.75])
# df.apply()
df.min()
df.max()
df.mean()
df.var()
df.std()

var    NaN
val    NaN
dtype: object

Ventanas

In [17]:
df.expanding()

Expanding [min_periods=1,axis=0,method=single]

Manejando datos faltantes

In [19]:
df.dropna()

Empty DataFrame
Columns: [var, val]
Index: []

Creando nuevas columnas

In [22]:
df.assign(Area=lambda df: df.Length*df.Height) 
df['Volume'] = df.Length*df.Height*df.Depth 
pd.qcut(df.col, n, labels=False)

Graficos

In [24]:
df.plot.hist()
df.plot.scatter(x = 'w', y = 'h')

Combinando Datasets

In [26]:
pd.merge(adf, bdf, how='left', on='x1')
pd.merge(adf, bdf, how='right', on='x1')
pd.merge(adf, bdf, how='inner', on='x1')
pd.merge(adf, bdf, how='outer', on='x1')